body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1024px;
    background-color: #d4e9e7;
    margin: auto;
}

    .navbar {
        display: flex;
        align-items: baseline;
        background-color: black;
        font-family: sans-serif;
      }

      .navbar a {
        margin: 0;
        padding: 15px;
        color: white;
        text-decoration: none
      }
      
      .navbar a:hover {
        background-color: red;
      }